{% extends 'common/base.html' %}
{% load static %}
{% block page_title %}
DantesDoesThings Home
{% endblock %}
{% block page_head %}
<h1>Home</h1>
{% endblock %}
{% block main_content %}
<h3>What is this site?</h3>
This is the personal site of Michael Baramidze.
<h3>Who are you?</h3>
I am a software developer and father of one. I work with several programming languages, primarily Python.
<h3>Where are you?</h3>
I am currently in Watkinsville, Georgia, USA.
<h3>How do I get ahold of you?</h3>
Contact me at any time via:
<br />
<b>e-mail</b>: m.baramid@gmail.com
<br />
<b>phone</b>: (309)-371-2263
<h3>What's on this site?</h3>
This site holds a few <a href="{% url 'projects' %}">projects</a> I've put together to give a sample of my experience.
<br />
The source code for the site, including these projects, is available at <a href="https://github.com/dantesdoesthings">my github.</a>
<h3>How was this site made?</h3>
This entire site, like all of these projects, was written solely by me.
Inspiration, help, and troubleshooting was provided by friends, family, and, of course, helpful anonymous people all over the internet.
<br />
<br />
{% endblock %}