{% load static %}
<div class="navbar">
    <div>
        <a href="{% url 'index' %}">
            <img src="{% static 'common/images/DDTlogo.png' %}" id="logo-pic" width="127" height="80">
        </a>
    </div>
    <div class="nav-links">
        <a href="{% url 'index' %}" class="nav-item">Home</a>
        <a href="{% url 'projects' %}" class="nav-item">Projects</a>
        <a href="{% url 'blog:blog_home' %}" class="nav-item">Blog</a>
    </div>
    <div class="account-links">
        {% if user.is_active %}
        <a href="{% url 'users:account' %}">Account</a>
        <br>
        <a href="{% url 'users:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'users:login' %}">Login</a>
        <br>
        <a href="{% url 'users:register' %}">Register</a>
        {% endif %}
    </div>
</div>