{% extends 'common/base.html' %}
{% load static %}
{% block page_title %}
DantesDoesThings Projects
{% endblock %}
{% block page_head %}
<h1>Projects</h1>
{% endblock %}
{% block main_content %}
<h2>Welcome to the DantesDoesThings projects page</h2>
Here are the current projects and a brief summary of each.
All projects make at least some use of the <a href="https://www.djangoproject.com/">Django</a> framework in order to operate within the confines of the website.
<p><a href="{% url 'data_generator' %}">Data Generator</a><br>
    An app for generating synthetic data.<br>
    Click to add/remove points for your dataset to pass through, select options, and create synthetic data for whatever purposes you may have.<br>
    <b>Python tools used</b>: Standard library - JSON reading/writing; NumPy - arrays, matrix operations, linear algebra tools.
    <b>Other tools used</b>: Javascript, AJAX
</p>
<p><a href="{% url 'blog:blog_home' %}">Blog</a><br> <!-- TODO: Hook up the blog -->
    A basic personal blog.<br>
    Feel free to browse. I plan to write about any further projects in detail as I create them.<br>
    <b>Python tools used</b>: Django<br>
    <b>Other tools used</b>: Basic database usage and access
</p>
{% endblock %}