html, body {
width: 100%;
height: 100%;
}
body {
margin: 0% 0% 0% 0%;
font-family: Helvetica, sans-serif;
}
canvas {
border: 1px solid #000;
background-color: #FFF;
}
div {
padding: 0.3em 0;
}
a {
color: blue;
font-weight: 600;
}
.nav-item {
display: inline;
margin: 0 0.5em;
}
.page-title {
font-size: large;
font-color: #111;
margin: 5px 5% 5px 5%;
}
.full-page {
min-height: 100%;
display: grid;
grid-template-rows: auto 1fr auto;
grid-template-columns: 100%;
padding: 0;
background-color: #000;
}
.page-content {
display: grid;
grid-template-rows: auto 1fr;
grid-template-columns: 100%;
border-right: 2.0em solid #000;
border-left: 2.0em solid #000;
background-color: #E0F0E0;
}
.navbar {
background-image: linear-gradient(rgb(50,50,50), rgb(50,50,50), rgb(50,50,50), rgb(50,50,50), rgba(50,50,50,0.9));
background-color: rgb(50,50,50);
font-size: large;
text-align: center;
position: sticky;
top: 0;
padding: 0;
box-shadow: 0 8px 6px -6px #000;
border-radius: 0 0 0.5em 0.5em;
}
.navbar img{
float: left;
padding: 0.5em 0 0.5em 2em;
}
.navbar a {
color: #DDD;
text-decoration: none;
font-weight: normal;
}
.nav-links {
margin: auto;
width: 50%;
height: 100%;
padding: 2em 0;
}
.page-head {
margin: 0.5em 1.0em;
}
.page-main {
font-size: medium;
font-color: #111;
margin: 0 1.0em;
}
.footer {
background-color: #CCC;
font-size: small;
text-align: center;
float: bottom;
}
.split-content-cols-2 {
display: grid;
grid-template-columns: 1fr 1fr;
}
.split-content-rows-2 {
display: grid;
grid-template-rows: 1fr 1fr;
}
.split-content-cols-3 {
display: grid;
grid-template-columns: auto 1fr auto;
}
.split-content-rows-3 {
display: grid;
grid-template-rows: auto 1fr auto;
}
.split-content-rows-3 {
display: grid;
grid-template-rows: auto 1fr auto;
}
.center {
text-align: center;
}
.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
display: grid;
}
#data-generator-results {
background: white;
width: 80%;
height: 80%;
margin: auto auto;
overflow-y: scroll;
}
#point-value-container {
width: 80%;
height: 100%;
background: white;
margin: auto auto;
overflow-y: scroll;
}
#logo-pic {

}
br {
line-height: 150%;
}
h1 {
font-size: 2em;
padding: 0;
margin: 0;
}