body {background-color: #FFA;}
.footer {
background-color: #AAA;
font-size: large;
bottom: 0;
position: absolute;
width: 100%;
text-align: center;
}
.header {
background-color: #AAA;
font-size: large;
top: 0;
position: absolute;
width: 100%;
text-align: center;
}
.nav-item {
display: inline
}