{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/style.css' %}">
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{% block page_title %}DantesDoesThings Home{% endblock %}</title>
</head>
<body>
<div class="full-page">
    {% include 'common/navbar.html' %}
    <div class="page-content">
        <div class="page-head">
            {% block page_head %}
            {% endblock %}
        </div>
        <div class="page-main">
            {% block main_content %}
            {% endblock %}
        </div>
    {% include 'common/footer.html' %}
    </div>
    <script src="{% static 'common/js/app.js' %}"></script>
    {% block javascript %}
    {% endblock %}
</div>
</body>
</html>